**Suma: {{total}}/7**

Testy:

| Test                                                            | Punkty     |
|-----------------------------------------------------------------|------------|
| Testy poprawności współbieżnych rotacji.                        | {{points[0]}} |
| Testy poprawności współbieżnych operacji `rotate()` i `show()`. | {{points[1]}} |
| Testy poprawności współbieżnych operacji z przerwaniami.        | {{points[2]}} |
| Testy szybkości obsługi przerwań.                               | {{points[3]}} |
| Testy współbieżności wykonania operacji.                        | {{points[4]}} |
| Testy sekwencyjności operacji, które są w konflikcie.           | {{points[5]}} |
| Testy żywotności.                                               | {{points[6]}} |