# `{{name}}` - Raport

**Suma: {{points}}/7**

Testy:

| Test                                                            | Punkty     |
|-----------------------------------------------------------------|------------|
| Testy poprawności współbieżnych rotacji.                        | {{pts[0]}} |
| Testy poprawności współbieżnych operacji `rotate()` i `show()`. | {{pts[1]}} |
| Testy poprawności współbieżnych operacji z przerwaniami.        | {{pts[2]}} |
| Testy szybkości obsługi przerwań.                               | {{pts[3]}} |
| Testy współbieżności wykonania operacji.                        | {{pts[4]}} |
| Testy sekwencyjności operacji, które są w konflikcie.           | {{pts[5]}} |
| Testy żywotności.                                               | {{pts[6]}} |